#events {
    display: flex;
    flex-direction: column;
    width: max-content;
    justify-items: middle;
    align-content: center;
    margin: 0 auto;
    width: 50%;
    overflow-y: scroll;
    overflow-x: auto;
}
body {
    margin: 0;
    padding-block-start: 0;
    background-color: #333c;
}
.log {
    display: grid;
    grid-template-areas: "t . ." "v v v" "cin . ." ". . cout";
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    min-width: 25%;
    margin: 5px auto;
}
.logTitle {
    grid-area: t;
    white-space: nowrap;
}
fieldset {
    display: grid;
    grid-area: v;
    margin: 5px 0;
    justify-self: center;
    border: 1px solid black;
    padding: 10px;
}
legend {
    padding: 0;
    margin: 0;
}
.logValue {
    justify-self: center;
}
.logStatus {
    grid-area: cin;
}
.logDates {
    grid-area: cout;
}
